node_modules
yarn.lock
yarn-error.log
.idea
package-lock.json
#packages/api/dist
packages/api/logs
packages/api/yarn.lock
packages/frontend/yarn.lock
packages/crawler/yarn.lock
packages/crawlers-manager/yarn.lock
packages/db/yarn.lock
packages/models/yarn.lock

packages/crawler/downloads
packages/next/.next

packages/api/.env
data/access
data/uploads
